<div class="c-search js-search">
	<form action="07-search.html">
		<div class="form-group">
			<input type="text" class="form-control js-search-input" placeholder="Пошук">
		</div>
		<button type="submit" class="submit js-search-btn" aria-label="Пошук"><i class="icon i-search" aria-hidden="true"></i></button>
	</form>
</div>