<section class="c-top">
    <div class="c-top__col">
        <article class="c-top__item">
            <a href="02-news.html" class="link">
                <div class="o-type">
                    <span class="item"><i class="icon i-photo" aria-hidden="true"></i></span>
                    <span class="item"><i class="icon i-video" aria-hidden="true"></i></span>
                </div>
                <div class="js-img c-img c-img--lg">
                    <img src="https://unsplash.it/750/450?image=100" width="750" height="450">
                </div>
                <div class="header">
                    <h3 class="title">Запрошуємо на навчання до СНУ імені Лесі Українки</h3>
                    <span class="category">наукова діяльність</span>
                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
                </div>
            </a>
        </article>
    </div>
    <div class="c-top__col">
        <article class="c-top__item">
            <a href="02-news.html" class="link">
                <div class="o-type">
                    <span class="item"><i class="icon i-video" aria-hidden="true"></i></span>
                </div>
                <div class="js-img c-img c-img--lg">
                    <img src="https://unsplash.it/750/450?image=110" width="750" height="450">
                </div>
                <div class="header">
                    <h3 class="title">«Школа інновацій та соціального підприємництва» міжнародна сертифікована програма програма</h3>
                    <span class="category">студентське дозвілля</span>
                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
                </div>
            </a>
        </article>
    </div>
    <div class="c-top__col">
        <article class="c-top__item">
            <a href="02-news.html" class="link">
                <div class="js-img c-img c-img--lg">
                    <img src="https://unsplash.it/750/450?image=111" width="750" height="450">
                </div>
                <div class="header">
                    <h3 class="title">Стартував конкурсний відбір кандидатів на програми мобільності «Еразмус+»</h3>
                    <span class="category">студентське самоврядування</span>
                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
                </div>
            </a>
        </article>
    </div>
</section>