<ul class="list o-social{% if share %} o-social--share js-social{% endif %}{% if class %} {{ class }}{% endif %}">
	<li class="item">
		<a href="#" class="link fb" aria-label="Facebook"{% if share %} data-service="facebook"{% endif %}>
			<span><i class="icon i-fb" aria-hidden="true"></i></span>
			<span><i class="icon i-fb-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link vk" aria-label="Вконтакте"{% if share %} data-service="vk"{% endif %}>
			<span><i class="icon i-vk" aria-hidden="true"></i></span>
			<span><i class="icon i-vk-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link tw" aria-label="Twitter"{% if share %} data-service="twitter"{% endif %}>
			<span><i class="icon i-tw" aria-hidden="true"></i></span>
			<span><i class="icon i-tw-light" aria-hidden="true"></i></span>
		</a>
	</li>
</ul>
