<section class="o-block u-mb">
    <!-- <h2 class="title">Теги</h2> -->
    <ul class="list c-tags">
        <li class="item"><a href="03-department.html" class="link">Біологічний факультет</a></li>
        <li class="item"><a href="06-laboratories.html" class="link">Фізика</a></li>
        <li class="item"><a href="05-teacher.html" class="link">Константиновський Констянтин</a></li>
        <li class="item"><a href="04-chair.html" class="link">Кафедра математики</a></li>
    </ul>
</section>