<article class="c-card{% if cardSmall %} c-card--sm{% endif %}{% if cardClass %} {{ cardClass }}{% endif %}">
    <a href="05-teacher.html" class="link">
        <div class="photo">
            <img src="/src/img/teacher.jpg" alt="" width="128" height="128">
        </div>
        <div class="header">
            <h4 class="title">Харкевич Юрій Іліодорович</h4>
            <p class="info">Декан факультету, кандидат фізико-математичних наук, професор</p>
        </div>
    </a>
</article>