<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SNU ISFM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/app.css">

    
    
    <script src="/src/js/vendor/modernizr.min.js"></script>
</head>

    <body>
        <header class="c-banner js-banner">
            <div class="c-banner__top">
    <div class="container">
        <div class="inner">
            <a href="#" class="c-hamburger js-hamburger" aria-label="Меню"><span aria-hidden="true"></span></a>
            <a href="00-home.html" class="logo">СНУ ІСФМ</a>
            <div class="c-search js-search">
	<form action="07-search.html">
		<div class="form-group">
			<input type="text" class="form-control js-search-input" placeholder="Пошук">
		</div>
		<button type="submit" class="submit js-search-btn" aria-label="Пошук"><i class="icon i-search" aria-hidden="true"></i></button>
	</form>
</div>        </div>
    </div>
</div>
<div class="c-banner__main">
    <div class="container">
        <div class="inner">
            <nav>
                <ul class="list navigation js-nav">
                                            <li class="item"><a href="00-home.html" class="link">Новини</a>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Про факультет</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Кафедри</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Програми</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Навчальний план</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Наукова діяльність</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Публікації</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Конференції</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Лабораторії</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Абітурієнту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Вступ</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Програма подвійних дипломів</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Нормативні документи</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Студенту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад занять</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад дзвінків</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Графік навчального процесу</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад сесії</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Список кураторів груп</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Дозвілля</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Студентське самоврядування</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link">Контакти</a>
                                                    </li>
                                    </ul>
            </nav>
        </div>
    </div>
</div>        </header>

        <main>
                <div class="container">
        <div class="row js-parent">
            <div class="col-md-8">
                <article class="o-news">
                    <h1 class="c-title">Біологічний факультет допомагає Святому Миколаю творити добро</h1>
                    <div class="o-news__info">
                        <span class="category">наукова діяльність</span>
                        <time class="date" datetime="2016-01-12">12.01.2016</time>
                    </div>
                    <div class="o-news__img">
                        <div class="unbox">
                            <div class="js-img c-img c-img--lg">
                                <img src="https://unsplash.it/750/450?image=17" width="750" height="450">
                            </div>
                        </div>
                    </div>
                    <div class="s-content o-news__content">
                        <p class="lead">З дітьми були проведені різні розважальні й пізнавальні заходи. За активну участь та перемогу в конкурсах діти отримували подарунки, прижбані студентами та викладачами факультету. Цікавим було спілкування зі Святим Миколаєм.</p>
                        <p>Гарною традицією <a href="#">біологічного факультету</a> стало відвідування студентами дітей із вадами зору Крупівського навчально-реабілітаційного центру. Ось і цього року 20 грудня Святий Миколай та білосніжні ангели біофаку влаштували справжнє свято.</p>
                        <img src="http://eenu.edu.ua/sites/default/files/u28/mjromlchccc.jpg" alt="">
                        <p>З дітьми були проведені різні розважальні й пізнавальні заходи. За активну участь та перемогу в конкурсах діти отримували подарунки, прижбані студентами та викладачами факультету. Цікавим було спілкування зі Святим Миколаєм. Діти співали пісні, розказували вірші та ставили каверзні запитання. Теплі слова, емоції, гарний настрій, любов, посмішки дітей – це найпрекрасніше в нашому житті. На завершення свята дітлахи написали свої побажання на наступний рік зі зворушливими проханнями миру в Україні, здоров’я своїм рідним та зустрічі в наступному році.</p>
                        <img src="http://eenu.edu.ua/sites/default/files/u28/obcqqzmkfyw.jpg" alt="">
                        <p>Дякуємо всім добрим серцям, хто долучився до цієї поїздки!</p>
                        <img src="http://eenu.edu.ua/sites/default/files/u28/obcqqzmkfyw.jpg" alt="">
                        <img src="http://eenu.edu.ua/sites/default/files/u28/4t8elhv9xs0.jpg" alt="">
                        <p>Дякуємо всім добрим серцям, хто долучився до цієї поїздки!</p>
                    </div>
                    <ul class="c-carousel js-carousel">
                        <li class="c-slide">
                            <a href="http://eenu.edu.ua/sites/default/files/u28/mjromlchccc.jpg" class="swipebox" title="1"><img src="http://eenu.edu.ua/sites/default/files/u28/mjromlchccc.jpg" alt=""></a>
                        </li>
                        <li class="c-slide">
                            <a href="http://eenu.edu.ua/sites/default/files/u28/obcqqzmkfyw.jpg" class="swipebox" title="2"><img src="http://eenu.edu.ua/sites/default/files/u28/obcqqzmkfyw.jpg" alt=""></a>
                        </li>
                        <li class="c-slide">
                            <a href="http://eenu.edu.ua/sites/default/files/u28/4t8elhv9xs0.jpg" class="swipebox" title="3"><img src="http://eenu.edu.ua/sites/default/files/u28/4t8elhv9xs0.jpg" alt=""></a>
                        </li>
                    </ul>
                    <ul class="list o-social o-social--share js-social u-mt">
	<li class="item">
		<a href="#" class="link fb" aria-label="Facebook" data-service="facebook">
			<span><i class="icon i-fb" aria-hidden="true"></i></span>
			<span><i class="icon i-fb-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link vk" aria-label="Вконтакте" data-service="vk">
			<span><i class="icon i-vk" aria-hidden="true"></i></span>
			<span><i class="icon i-vk-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link tw" aria-label="Twitter" data-service="twitter">
			<span><i class="icon i-tw" aria-hidden="true"></i></span>
			<span><i class="icon i-tw-light" aria-hidden="true"></i></span>
		</a>
	</li>
</ul>
                </article>
            </div>
            <div class="col-md-4 js-sticky c-sticky">
                <aside class="o-sidebar">
                    <section class="o-block u-mb">
    <!-- <h2 class="title">Теги</h2> -->
    <ul class="list c-tags">
        <li class="item"><a href="03-department.html" class="link">Біологічний факультет</a></li>
        <li class="item"><a href="06-laboratories.html" class="link">Фізика</a></li>
        <li class="item"><a href="05-teacher.html" class="link">Константиновський Констянтин</a></li>
        <li class="item"><a href="04-chair.html" class="link">Кафедра математики</a></li>
    </ul>
</section>                    <section class="o-block">
                        <h2 class="title"><a href="01-list.html">Останні новини</a></h2>
                        <article class="c-news-item c-news-item--default">
    <a href="02-news.html" class="link">
                    <div class="js-img c-img c-img--sm">
                <img src="https://unsplash.it/200/200?image=15" alt="" width="200" height="200">
            </div>
                <div class="inner">
            <h3 class="c-news-title">Тоні Палмер презентував англійську мову – як мову поетів та кохання</h3>
                                                <i class="icon i-photo" aria-hidden="true"></i>
                                                    <i class="icon i-video" aria-hidden="true"></i>
                                                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
        </div>
    </a>
</article>                        <article class="c-news-item c-news-item--default">
    <a href="02-news.html" class="link">
                <div class="inner">
            <h3 class="c-news-title">В університеті стартує набір на сертифікатні курси</h3>
                                                                                <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
        </div>
    </a>
</article>                        <article class="c-news-item c-news-item--default">
    <a href="02-news.html" class="link">
                <div class="inner">
            <h3 class="c-news-title">Програма фестивалю «Різдвяний вертеп»</h3>
                                                <i class="icon i-photo" aria-hidden="true"></i>
                                                                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
        </div>
    </a>
</article>                        <article class="c-news-item c-news-item--default">
    <a href="02-news.html" class="link">
                <div class="inner">
            <h3 class="c-news-title">Світла пам’ять колезі</h3>
                                                                                <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
        </div>
    </a>
</article>                        <article class="c-news-item c-news-item--default">
    <a href="02-news.html" class="link">
                <div class="inner">
            <h3 class="c-news-title">Володарі премії «Кришталева доріжка» – спортсмени та викладачі університету</h3>
                                                <i class="icon i-photo" aria-hidden="true"></i>
                                                                    <time class="date" pubdate datetime="2016-01-12">12.01.2016</time>
        </div>
    </a>
</article>                    </section>
                </aside>
            </div>
        </div>
    </div>
        </main>

        <footer class="c-footer">
            <div class="container">
    <div class="inner">
        <ul class="list">
            <li class="item">
                <a href="#" class="link">Про факультет</a>
            </li>
            <li class="item">
                <a href="#" class="link">Контакти</a>
            </li>
            <li class="item">
                <a href="#" class="link">Абітурієнту</a>
            </li>
            <li class="item">
                <a href="#" class="link">Студентам</a>
            </li>
        </ul>
        <ul class="list o-social u-mt-xs u-mb-xs">
	<li class="item">
		<a href="#" class="link fb" aria-label="Facebook">
			<span><i class="icon i-fb" aria-hidden="true"></i></span>
			<span><i class="icon i-fb-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link vk" aria-label="Вконтакте">
			<span><i class="icon i-vk" aria-hidden="true"></i></span>
			<span><i class="icon i-vk-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link tw" aria-label="Twitter">
			<span><i class="icon i-tw" aria-hidden="true"></i></span>
			<span><i class="icon i-tw-light" aria-hidden="true"></i></span>
		</a>
	</li>
</ul>
        <div class="copyright">
            <span class="c-copy">© 2017 Факультет інформаційних систем фізики та математики</span>
            <span class="created">зроблено в <a href="https://www.ideil.com/" target="_blank" class="link">ідейл</a></span>
        </div>
    </div>
</div>        </footer>

        <script src="/src/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/src/js/vendor/lodash.min.js"></script>
<script src="/src/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/src/js/vendor/slick.js"></script>
<script src="/src/js/vendor/jquery.swipebox.min.js"></script>
<script src="/src/js/vendor/headroom.min.js"></script>
<script src="/src/js/vendor/jquery.headroom.js"></script>
<script src="/src/js/vendor/imagesloaded.min.js"></script>
<script src="/src/js/vendor/social.min.js"></script>
<script src="/src/js/vendor/sticky.min.js"></script>
<script src="/src/js/vendor/jquery.mark.min.js"></script>
<script src="/src/js/vendor/iscroll-probe.js"></script>
<script src="/src/js/app.js"></script>
<script src="/src/js/carousel.js"></script>    </body>
</html>
