<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SNU ISFM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/app.css">

    
    
    <script src="/src/js/vendor/modernizr.min.js"></script>
</head>

    <body>
        <header class="c-banner js-banner">
            <div class="c-banner__top">
    <div class="container">
        <div class="inner">
            <a href="#" class="c-hamburger js-hamburger" aria-label="Меню"><span aria-hidden="true"></span></a>
            <a href="00-home.html" class="logo">СНУ ІСФМ</a>
            <div class="c-search js-search">
	<form action="07-search.html">
		<div class="form-group">
			<input type="text" class="form-control js-search-input" placeholder="Пошук">
		</div>
		<button type="submit" class="submit js-search-btn" aria-label="Пошук"><i class="icon i-search" aria-hidden="true"></i></button>
	</form>
</div>        </div>
    </div>
</div>
<div class="c-banner__main">
    <div class="container">
        <div class="inner">
            <nav>
                <ul class="list navigation js-nav">
                                            <li class="item"><a href="00-home.html" class="link">Новини</a>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Про факультет</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Кафедри</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Програми</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Навчальний план</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Наукова діяльність</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Публікації</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Конференції</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Лабораторії</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Абітурієнту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Вступ</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Програма подвійних дипломів</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Нормативні документи</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Студенту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад занять</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад дзвінків</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Графік навчального процесу</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад сесії</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Список кураторів груп</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Дозвілля</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Студентське самоврядування</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link">Контакти</a>
                                                    </li>
                                    </ul>
            </nav>
        </div>
    </div>
</div>        </header>

        <main>
                <div class="container">
        <h1 class="c-title">Лабораторії</h1>
        <section class="o-list">
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
        </section>
    </div>
        </main>

        <footer class="c-footer">
            <div class="container">
    <div class="inner">
        <ul class="list">
            <li class="item">
                <a href="#" class="link">Про факультет</a>
            </li>
            <li class="item">
                <a href="#" class="link">Контакти</a>
            </li>
            <li class="item">
                <a href="#" class="link">Абітурієнту</a>
            </li>
            <li class="item">
                <a href="#" class="link">Студентам</a>
            </li>
        </ul>
        <ul class="list o-social u-mt-xs u-mb-xs">
	<li class="item">
		<a href="#" class="link fb" aria-label="Facebook">
			<span><i class="icon i-fb" aria-hidden="true"></i></span>
			<span><i class="icon i-fb-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link vk" aria-label="Вконтакте">
			<span><i class="icon i-vk" aria-hidden="true"></i></span>
			<span><i class="icon i-vk-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link tw" aria-label="Twitter">
			<span><i class="icon i-tw" aria-hidden="true"></i></span>
			<span><i class="icon i-tw-light" aria-hidden="true"></i></span>
		</a>
	</li>
</ul>
        <div class="copyright">
            <span class="c-copy">© 2017 Факультет інформаційних систем фізики та математики</span>
            <span class="created">зроблено в <a href="https://www.ideil.com/" target="_blank" class="link">ідейл</a></span>
        </div>
    </div>
</div>        </footer>

        <script src="/src/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/src/js/vendor/lodash.min.js"></script>
<script src="/src/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/src/js/vendor/slick.js"></script>
<script src="/src/js/vendor/jquery.swipebox.min.js"></script>
<script src="/src/js/vendor/headroom.min.js"></script>
<script src="/src/js/vendor/jquery.headroom.js"></script>
<script src="/src/js/vendor/imagesloaded.min.js"></script>
<script src="/src/js/vendor/social.min.js"></script>
<script src="/src/js/vendor/sticky.min.js"></script>
<script src="/src/js/vendor/jquery.mark.min.js"></script>
<script src="/src/js/vendor/iscroll-probe.js"></script>
<script src="/src/js/app.js"></script>
<script src="/src/js/carousel.js"></script>    </body>
</html>
