<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SNU ISFM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/app.css">

    
    
    <script src="/src/js/vendor/modernizr.min.js"></script>
</head>

    <body>
        <header class="c-banner c-banner--static">
            <div class="c-banner__top">
    <div class="container">
        <div class="inner">
            <a href="#" class="c-hamburger js-hamburger" aria-label="Меню"><span aria-hidden="true"></span></a>
            <a href="00-home.html" class="logo">СНУ ІСФМ</a>
            <div class="c-search js-search">
	<form action="07-search.html">
		<div class="form-group">
			<input type="text" class="form-control js-search-input" placeholder="Пошук">
		</div>
		<button type="submit" class="submit js-search-btn" aria-label="Пошук"><i class="icon i-search" aria-hidden="true"></i></button>
	</form>
</div>        </div>
    </div>
</div>
<div class="c-banner__main">
    <div class="container">
        <div class="inner">
            <nav>
                <ul class="list navigation js-nav">
                                            <li class="item"><a href="00-home.html" class="link">Новини</a>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Про факультет</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Кафедри</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Програми</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Навчальний план</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Наукова діяльність</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Публікації</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Конференції</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Лабораторії</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Абітурієнту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Вступ</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Програма подвійних дипломів</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Нормативні документи</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link is-opening">Студенту</a>
                                                            <ul class="list">
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад занять</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад дзвінків</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Графік навчального процесу</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Розклад сесії</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Список кураторів груп</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Дозвілля</a></li>
                                                                            <li class="item"><a href="00-home.html" class="link">Студентське самоврядування</a></li>
                                                                    </ul>
                                                    </li>
                                            <li class="item"><a href="00-home.html" class="link">Контакти</a>
                                                    </li>
                                    </ul>
            </nav>
        </div>
    </div>
</div>        </header>

        <main>
                <article class="container">
        <h1 class="c-title">Розклад сесії</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iusto sint quasi alias, magni quidem perspiciatis nemo nisi doloremque quis cum, aperiam et eum tempore, sit delectus rerum vero. Sed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iusto sint quasi alias, magni quidem perspiciatis nemo nisi doloremque quis cum, aperiam et eum tempore, sit delectus rerum vero. Sed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iusto sint quasi alias, magni quidem perspiciatis nemo nisi doloremque quis cum, aperiam et eum tempore, sit delectus rerum vero. Sed.</p>
        <div class="c-filter">
            <div class="highlight">
                <div class="form-group">
                    <input type="text" class="form-control js-keyword" placeholder="Ключове слово">
                    <button class="clear js-unmark">&times;</button>
                </div>
                <button class="btn btn-primary js-mark" type="submit">Знайти</button>
            </div>
            <div class="dropdown">
              <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Група <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li><a href="#">Група 1</a></li>
                  <li><a href="#">Група 2</a></li>
                  <li><a href="#">Група 3</a></li>
                  <li><a href="#">Група 4</a></li>
                  <li><a href="#">Група 5</a></li>
              </ul>
            </div>
        </div>
    </article>
    <div class="container-fluid">
        <div class="text-center">
            <div class="c-schedule c-schedule--session js-session">
                <div class="c-schedule__head js-scroll" id="tableHead">
                    <div class="c-schedule__table">
                        <div class="thead">
                            <div class="tr">
                                <div class="td td-1">№</div>
                                <div class="td td-2">Спеціальність</div>
                                <div class="td td-3">Курс</div>
                                <div class="td td-4">Група</div>
                                <div class="td td-5">Предмет</div>
                                <div class="td td-6">Форма контролю</div>
                                <div class="td td-7">Викладач</div>
                                <div class="td td-8">Дата</div>
                                <div class="td td-9">Час</div>
                                <div class="td td-10">Ауд.</div>
                                <div>
                                    <div class="tr">
                                        <div class="td is-grow">Ліквідація заборгованості</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td td-11">Викладачеві</div>
                                        <div class="td is-grow">Комісії</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td td-11">дата, час, ауд.</div>
                                        <div class="td td-12">дата, час, ауд.</div>
                                        <div class="td td-13">склад комісії</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-schedule__body js-scroll" id="tableBody">
                    <div class="c-schedule__table">
                        <div class="tbody">
                                                            <div class="tr">
                                    <div class="td td-1">1</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">2</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">3</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">4</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">5</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">6</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">7</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">8</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">9</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">10</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">11</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">12</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">13</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">14</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">15</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">16</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">17</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">18</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">19</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">20</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">21</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">22</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">23</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">24</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">25</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">26</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">27</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">28</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">29</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                            <div class="tr">
                                    <div class="td td-1">30</div>
                                    <div class="td td-2">Математика</div>
                                    <div class="td td-3">2</div>
                                    <div class="td td-4">СНУ</div>
                                    <div class="td td-5">Довга назва предмету дуже</div>
                                    <div class="td td-6">залік</div>
                                    <div class="td td-7">Прізвище І.П.</div>
                                    <div class="td td-8">01.01.2016</div>
                                    <div class="td td-9">13:00</div>
                                    <div class="td td-10">777</div>
                                    <div class="td td-11">01.01.2016 13:00 777</div>
                                    <div class="td td-12">01.01.2016 13:00 777</div>
                                    <div class="td td-13">склад комісії</div>
                                </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </main>

        <footer class="c-footer">
            <div class="container">
    <div class="inner">
        <ul class="list">
            <li class="item">
                <a href="#" class="link">Про факультет</a>
            </li>
            <li class="item">
                <a href="#" class="link">Контакти</a>
            </li>
            <li class="item">
                <a href="#" class="link">Абітурієнту</a>
            </li>
            <li class="item">
                <a href="#" class="link">Студентам</a>
            </li>
        </ul>
        <ul class="list o-social u-mt-xs u-mb-xs">
	<li class="item">
		<a href="#" class="link fb" aria-label="Facebook">
			<span><i class="icon i-fb" aria-hidden="true"></i></span>
			<span><i class="icon i-fb-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link vk" aria-label="Вконтакте">
			<span><i class="icon i-vk" aria-hidden="true"></i></span>
			<span><i class="icon i-vk-light" aria-hidden="true"></i></span>
		</a>
	</li>
	<li class="item">
		<a href="#" class="link tw" aria-label="Twitter">
			<span><i class="icon i-tw" aria-hidden="true"></i></span>
			<span><i class="icon i-tw-light" aria-hidden="true"></i></span>
		</a>
	</li>
</ul>
        <div class="copyright">
            <span class="c-copy">© 2017 Факультет інформаційних систем фізики та математики</span>
            <span class="created">зроблено в <a href="https://www.ideil.com/" target="_blank" class="link">ідейл</a></span>
        </div>
    </div>
</div>        </footer>

        <script src="/src/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/src/js/vendor/lodash.min.js"></script>
<script src="/src/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/src/js/vendor/slick.js"></script>
<script src="/src/js/vendor/jquery.swipebox.min.js"></script>
<script src="/src/js/vendor/headroom.min.js"></script>
<script src="/src/js/vendor/jquery.headroom.js"></script>
<script src="/src/js/vendor/imagesloaded.min.js"></script>
<script src="/src/js/vendor/social.min.js"></script>
<script src="/src/js/vendor/sticky.min.js"></script>
<script src="/src/js/vendor/jquery.mark.min.js"></script>
<script src="/src/js/vendor/iscroll-probe.js"></script>
<script src="/src/js/app.js"></script>
<script src="/src/js/carousel.js"></script>    </body>
</html>
