<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>00 Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    

    <link rel="stylesheet" href="/src/css/app.css">

    
    
    <script src="/src/js/vendor/modernizr.min.js"></script>
</head>

    <body>
        <header class="c-banner">
            <p>Application banner content</p>
        </header>

        <main>
                <h1>Page heading</h1>

    <a href="00-home.html">Link Home</a>

    <a href="#" type="button" class="" data-toggle="modal" data-target="#modal">
    Launch Demo Modal
</a>
        </main>

        <footer class="c-footer">
            <p>Application footer content</p>

<p class="c-copy">© 2016 ideil</p>

<p class="c-ideil">made by <a href="https://www.ideil.com/">ideil</a></p>
        </footer>

        <script src="/src/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/src/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/src/js/vendor/slick.js"></script>
<script src="/src/js/app.js"></script>
<script src="/src/js/carousel.js"></script>    </body>
</html>
