{% extends '_templates/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article>
                    <h1 class="c-title">Прикладна фізика</h1>
                    <div class="s-content">
                        <p><strong>Рік заснування факультету:</strong> 2015</p>
                        <p><strong>Історична довідка:</strong></p>
                        <p>Історично факультет заснований у 1940 році як фізико-математичний. За 75-річну історію колективом факультету реалізовано сотні успішних проектів, наші випускники успішно працюють і примножують здобутки підприємств та Установ України, Євразії та Америки.</p>
                        <p>На початках Української доби на базі факультету, було створено два факультети математичний та фізичний. Час іде в перед — стрімкий розвиток інформаційних технологій вимагає нової якості від організації освіти.</p>
                        <p>Цьогоріч факультети знову разом — новий факультет інформаційних систем, фізики та математики передусім далі продовжуватиме історичні традиції доповнюючи і примножуючи їх в прикладних напрямках пов’язаних з інформаційними технологіями.</p>
                        <p>Декан: кандидат фізико-математичних наук, професор Харкевич Юрій Іліодорович.</p>
                        <p>Заступники декана: кандидат педагогічних наук, доцент Полетило Сергій Андрійович; кандидат педагогічних наук, доцент Чепрасова Тетяна Іванівна.</p>
                        <p><strong>Кафедри:</strong></p>
                        <ul>
                            <li>алгебри та математичного аналізу;</li>
                            <li>диференціальних рівнянь та математичної фізики;</li>
                            <li>прикладної математики та інформатики;</li>
                            <li>вищої математики та інформатики;</li>
                            <li>експериментальної фізики та інформаційно вимірювальних технологій;</li>
                            <li>математичної фізики.</li>
                        </ul>
                        <p><strong>Професорсько - викладацький склад факультету:</strong></p>
                        <p>Факультет гордиться своїми науковими досягненнями: серед співробітників шість докторів фізико-математичних та педагогічних наук, майже всі викладачі мають наукові звання і ступені. Студенти мають можливість слухати лекції провідні науковців з дружніх вишів України та Європи. Професорсько-викладацький склад факультету та студентство активно займаються науково-дослідною роботою, публікує свої праці в провідних видання; постійно беруть участь в конкурсах в яких регулярно стають переможцями та номінантами.</p>
                        <p><strong>Основні напрямки науково-дослідної діяльності:</strong></p>
                        <p>Факультет підтримує тісні стосунки з науковцями Польщі, Швеції, Німеччини, Франції, США та ін. держав.</p>
                        <p>Студенти  факультету  займають  призові місця на  всеукраїнських олімпіадах, відзначені багатьма дипломами за наукові доробки, серед  яких є патенти про наукові винаходи.</p>
                        <p>Факультет здійснює підготовку фахівців за трьома спеціальностями, які дозволяють випускникам відповідних фахів працювати:</p>
                        <p><strong>ІНФОРМАТИКИ</strong> — програмістами; розробниками web - додатків; системними адміністраторами; адміністраторами баз даних (в державних та бізнес структурах) тощо;</p>
                        <p><strong>ФІЗИКИ</strong> — на виробництвах, діяльність яких пов’язана з використанням новітньої фізичної апаратури та її обслуговуванням ( Modern-Expo, Kromberg & Schubert); спеціалістами конструкторських бюро;  системними адміністраторами та адміністраторами баз даних; освітянами;</p>
                        <p><strong>МАТЕМАТИКИ</strong> — аналітиками; інженерами-математиками; інженерами-програмістами обчислювальних центрів; спеціалістами з розробки, впровадження та використання математичних методів і алгоритмів в різних галузях народного господарства, науково-дослідних установах; освітянами.</p>
                    </div>
                    {% include '_parts/social.twig' with {'share': true, 'class': 'u-mt u-mb'} %}
                </article>
                <div class="o-block o-block--dropdown">
                    <h2 class="title"><a href="#" class="js-dropdown">Прикріплені матеріали</a></h2>
                    <ul class="list list-bordered link-dark">
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="o-sidebar">
                    <section class="u-mb">
                        {% include '_parts/teacher.twig' %}
                        {% include '_parts/teacher.twig' with {'cardSmall': true} %}
                        {% include '_parts/teacher.twig' with {'cardSmall': true} %}
                        {% include '_parts/teacher.twig' with {'cardSmall': true} %}
                        {% include '_parts/teacher.twig' with {'cardSmall': true} %}
                    </section>
                    <section class="o-block">
                        <h2 class="title"><a href="01-list.html">Останні новини</a></h2>
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Тоні Палмер презентував англійську мову – як мову поетів та кохання', 'itemVideo': true, 'itemPhoto': true, 'itemImg': '15', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'В університеті стартує набір на сертифікатні курси', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Програма фестивалю «Різдвяний вертеп»', 'itemPhoto': true, 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Світла пам’ять колезі', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Володарі премії «Кришталева доріжка» – спортсмени та викладачі університету', 'itemPhoto': true, 'itemClass': 'c-news-item--default'} %}
                    </section>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}




