{% extends '_templates/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row js-parent">
            <div class="col-md-8">
                <article>
                    <h1 class="c-title">Харкевич Юрій Іліодорович</h1>
                    <div class="c-teacher">
                        <div class="photo">
                            <img src="/src/img/teacher.jpg" alt="" width="345" height="345">
                        </div>
                        <div class="info">
                            <dl>
                                <dt>Дата народження</dt>
                                <dd>18.10.1965р.</dd>
                                <dt>Посада</dt>
                                <dd>Декан факультету, кандидат фізико-математичних наук, професор</dd>
                                <dt>Контактний email</dt>
                                <dd>Kharkevich.Yuriy@eenu.edu.ua</dd>
                                <dt>Номер телефону</dt>
                                <dd>+38(0332)249367</dd>
                                <dt>Кафедра</dt>
                                <dd>Математичної фізики</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="s-content">
                        <p>Народився 18 жовтня 1965 року у смт. Торчин Луцького району Волинської області. Закінчив з золотою медаллю в 1982 році Лобачівську середню школу Горохівського району. У 1987 році закінчив з відзнакою Луцький державний педагогічний інститут імені Лесі Українки за фахом «Вчитель математики та фізики». Працював з 1987 по 1988 вчителем математики Лобачівської, а потім Мервянської середніх шкіл Горохівського району. З 1988 по 1991 рр. навчався в аспірантурі інституту математики НАН України (науковий керівник – член-кореспондент НАН України Степанець О.І.).</p>
                        <p>З 1991 р. по 1994 р. працював старшим викладачем кафедри математичного аналізу Луцького державного педагогічного інституту імені Лесі Українки, а згодом Волинського державного університету імені Лесі Українки.</p>
                        <p>У зв’язку з заснуванням кафедри диференціальних рівнянь та математичної фізики переходить на посаду доцента цієї новоутвореної кафедри. З 2015 року декан факультету інформаційних систем,фізики та математики.</p>
                        <p>Викладає навчальні дисципліни: «Функціональний аналіз», «Спецкурси» і т. д.</p>
                    </div>
                    {% include '_parts/social.twig' with {'share': true, 'class': 'u-mt u-mb'} %}
                </article>
                <div class="o-block o-block--dropdown">
                    <h2 class="title"><a href="#" class="js-dropdown">Прикріплені матеріали</a></h2>
                    <ul class="list list-bordered link-dark">
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                        <li><a href="#">Робоча програма "Аналітична геометрія та лінійна алгебра". Викладач - Волошина Т.В., Кравчук О.М.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 js-sticky c-sticky">
                <aside class="o-sidebar">
                    <section class="o-block">
                        <h2 class="title"><a href="01-list.html">Останні новини</a></h2>
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Тоні Палмер презентував англійську мову – як мову поетів та кохання', 'itemVideo': true, 'itemPhoto': true, 'itemImg': '15', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'В університеті стартує набір на сертифікатні курси', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Програма фестивалю «Різдвяний вертеп»', 'itemPhoto': true, 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Світла пам’ять колезі', 'itemClass': 'c-news-item--default'} %}
                        {% include '_parts/block-news-item.twig' with {'itemTitle': 'Володарі премії «Кришталева доріжка» – спортсмени та викладачі університету', 'itemPhoto': true, 'itemClass': 'c-news-item--default'} %}
                    </section>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}




