{% extends '_templates/base.twig' %}

{% block content %}
    <div class="container">
        <h1 class="c-title">Лабораторії</h1>
        <section class="o-list">
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
            <article class="c-news-item o-list__item">
                <a href="02-news.html" class="link">
                    <h3 class="c-news-title">Лабораторія фізичних дослідів</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quisquam explicabo necessitatibus, impedit ut quaerat dignissimos vel expedita pariatur tenetur, iste voluptatem! Veniam blanditiis, laudantium! Sed soluta officia dolore dolorem.</p>
                </a>
            </article>
        </section>
    </div>
{% endblock %}
